<header class="header">
  
  <div class="logo">
    <a href="#" class="logo__link">
      Banana Shop
    </a>
  </div>

  <div class="search">
    <span class="search__text">Type to search:</span>
    <input type="text" class="input input_search">
  </div>

  <div class="authorisation">
    <div class="auth__item">
      <span class="auth__item-desc">Login</span>
      <input type="text" class="input"> <!-- input is a block coz can be used separately --> 
    </div>

    <div class="auth__item">
      <span class="auth__item-desc">Password</span>
      <input type="password" class="input">
    </div>
  </div>
</header>
